<div class="container-fluid h-100 main loginwrapper">
  <%= render 'layouts/header' %>
    <div class="row align-items-center h100">
        <div class="col-sm-12 mx-auto user-table">
            <div class="user-table">
<% if user_signed_in? %>

  <!-- <div>Signed in as... <%= current_user.email %></div> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Edit</th>
      <th scope="col">Tickets Open/Closed</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Company</th>
      <th scope="col">Title</th>
      <th scope="col">Phone</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
     <% i = 0  %>
      <% @users.each do |user| i = i+1 %>
      <% edit_url = "/users/#{user.id}/edit" %>
      <tr>
      <th scope="row"><%=i%></th>
       <td><%= link_to edit_user_path(user.id) do %><%= fa_icon 'edit' %><% end %></td>
      <td>Number of tickets</td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.company %></td>
      <td><%= user.job_title %></td>
      <td><%= user.phone %></td>
      <td><%= link_to user_path(user),method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon 'trash' %><% end %></td>

      </tr>
      <% end %>

  </tbody>
</table>


<% end %>
</div>
</div>
</div>
</div>
<%= will_paginate @users %>
<%= render 'layouts/footer' %>
