<%= render 'layouts/header' %>
<div class="row">
<nav class="navigation col-12">
  <ul><%= @client.name %>
    <li><strong>Contact:</strong> <%= number_to_phone(@client.phone) %></li>
    <li><strong>Address:</strong><%= @client.address1 %><br></li>
        <% if @client.address2.empty? == false%><li><%=@client.address2%></li>
        <% end %>
        <%= @client.city %>, <%= @client.state %> <%= @client.zip %><br>
      </ul>
        </nav>
        </div>
        <div class="row">
        <%= button_to "Edit", { action: "edit"},
        method: :get,
        form_class: "col-6",
                                        class: 'btn btn-default col-12' %>

          <%= button_to "Delete", { action: "destroy", id: @client.id },
          form_class: "col-6",
                                          class: 'btn btn-default col-12',
                                          method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
          <% if current_user.role == "superadmin" %>
          <br>
          <div class="row">
            <form action="../clients" class="col-12">
              <input type="submit" class="btn btn-default col-12" value="View All">
              </div>
    <% end %>
</nav>
<%= render 'layouts/footer' %>
