<%= render 'layouts/header' %>
<%= render 'layouts/datatables' %>
<script>
$(document).ready(function() {
    var table = $('#agencieslist').DataTable( {
        responsive: true
    } );

} );
</script>
<div class="headitem">Agencies</div>
<%= link_to 'Add New Agency', new_agency_path(@agency) %><hr>
<table id="agencieslist" class="table table-striped table-bordered responsive no-wrap dt-responsive" style="width:100%">
  <thead>
    <tr>
      <th class="dt-center" scope="col">ID</th>
      <th class="dt-center" scope="col">Agency</th>
      <th class="dt-center" scope="col">Phone</th>
      <th class="dt-center" scope="col">Address</th>
      <th class="dt-center" scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
<% @agencies.each do |agency| %>
<tr>
<td class="dt-center" ><%= agency.id %></td>
<td class="dt-center" ><a href="../agencies/<%= agency.id %>"><%= agency.name %></td>
<td class="dt-center" ><%= agency.phone %></td>
<td class="dt-center" ><%= agency.address1 %></td>
<td class="dt-center" ><%= link_to 'Edit', edit_agency_path(agency), class: 'button' %>|
<%= link_to 'Delete', agency,
            class: 'button',
            method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
            </tbody>
            </table>

<%= render 'layouts/footer' %>
