<%= form_for(@agency) do |f| %>
<h1><%= @agency.name %></h1>
<ol>
      <li>
        <%= @agency.address1 %>
      </li>
      <li>
        <%= @agency.address2 %>
      </li>
      <li>
        <%= @agency.city %>
      </li>
      <li>
        <%= @agency.state %>
      </li>
      <li>
        <%= @agency.zip %>
      </li>
      <li>
        <%= @agency.phone %>
      </li>
    </ol>
<% end %>
