<h1><%= @agency.name %></h1>
<ul>
<li><strong>Contact:</strong> <%= @agency.phone %></li>
        <li><strong>Address:</strong><%= @agency.address1 %><br></li>
        <% if @agency.address2.empty? == false%><li><%=@agency.address2%></li>
        <% end %>
        <%= @agency.city %>,<%= @agency.state %> <%= @agency.zip %>
