<%= render partial: 'layouts/datatables' %>
<script>
$(document).ready(function() {
    var table = $('#ticketsList').DataTable( {
        responsive: true
    } );
} );
</script>
<div class="container-fluid h-100 main loginwrapper">
  <%= render 'layouts/header' %>
    <div class="row align-items-center h100">

        <div class="col-sm-12 mx-auto user-table">
              <h1>Tickets</h1>
              <button class="signin_button" style="color:#fff;margin-bottom:20px;" data-toggle="modal" data-target="#addticket"><%= fa_icon "plus"%> Add Ticket</button>

              <table style="width:100%;" class="responsive nowrap table table-hover" id="ticketsList" data-sort="true" data-source="<%= url_for(format: :json)%>">
                <thead>
                  <tr>

                    <!-- <th data-data="client_id">Client</th> -->
                      <!--<th data-data="internal_status">Internal status</th>-->
                      <!--<th data-data="external_status">External status</th>-->
                      <th class="dt-center" data-data="priority">Priority</th>
                      <th class="dt-center" data-data="title">Title</th>
                      <th class="dt-center" data-data="start_time">Requester</th>
                      <th class="dt-center" data-data="end_time">Date Requested</th>
                      <!-- <th data-data="total_time">Total time</th>-->
                      <!-- <th data-data="adjusted_time">Adjusted time</th>-->
                    <th class="dt-center">View/Edit</th>
                    <th class="dt-center">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% @tickets.each do |ticket| %>
                    <tr>
                      <% date = ticket.date_requested  %>
                      <% date = date.try(:to_formatted_s, :long) %>

                      <!-- <td><%= ticket.client_id %></td>-->
                      <!-- <td><%= ticket.internal_status %></td>-->
                      <!-- <td><%= ticket.external_status %></td>-->
                      <td class="dt-center" ><%= ticket.priority %></td>
                      <td class="dt-center" ><%= ticket.title %></td>
                      <td class="dt-center" ><%= ticket.requester %></td>
                      <td class="dt-center" ><%= date %></td>
                      <!-- <td><%= ticket.total_time %></td>-->
                      <!-- <td><%= ticket.adjusted_time %></td>-->
                      <td class="dt-center" ><%= link_to edit_ticket_path(ticket.id) do %><%= fa_icon 'edit' %><% end %></td>
                      <td class="dt-center" ><%= link_to ticket_path(ticket),method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon 'trash' %><% end %></td>
                    </tr>
                  <% end %>
                </tbody>
           </table>

        <br>
    </div>
  </div>
</div>
<div class="modal fade" id="addticket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'tickets/new', locals: { ticket: Ticket.new } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
