<p>
  <strong>Id:</strong>
  <%= @ticket.id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @ticket.integer %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @ticket.created_at %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @ticket.update_at %>
</p>

<p>
  <strong>Client:</strong>
  <%= @ticket.client_id %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @ticket.reference %>
</p>

<p>
  <strong>Project:</strong>
  <%= @ticket.project_id %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @ticket.reference %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @ticket.created_by %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @ticket.reference %>
</p>

<p>
  <strong>Internal status:</strong>
  <%= @ticket.internal_status %>
</p>

<p>
  <strong>External status:</strong>
  <%= @ticket.external_status %>
</p>

<p>
  <strong>Uploads:</strong>
  <%= @ticket.uploads %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @ticket.start_time %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @ticket.datetime %>
</p>

<p>
  <strong>End time:</strong>
  <%= @ticket.end_time %>
</p>

<p>
  <strong>Total time:</strong>
  <%= @ticket.total_time %>
</p>

<p>
  <strong>Adjusted time:</strong>
  <%= @ticket.adjusted_time %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @ticket.priority_id %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @ticket.is_deleted %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
