<% agency_name = "" %>
<script>
  $(document).ready(function(){
    var inviteUserToAgency = function() {
      var name = $('#default').val()
      $.ajax({
        url:"<%=agencies_path%>",
        method:'post',
        action:"#",
        data:{
          'agency[name]':name
        },
        success: function(data) {
          console.log('success!')
        }
      })
    }
    $('#create_agency').click(function(e){
      e.preventDefault()
      inviteUserToAgency()
    })
    $('#default').editableSelect({ effects: 'default' })
    $('#default').on("select.editable-select", function(e) {
      inviteUserToAgency()
    })
    $("#create_agency").hide()
    $("#default").keyup(function(e){
      if (this.value.length>0) {
          $("#create_agency").show()
      }
      else{
      $("#create_agency").hide()
      }
    })
    $('#default').change(function(e) {


    })

  });

  </script>



<h2>Select or create an agency</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>
<% resource.class.invite_key_fields.each do |field| -%>

<small>Please choose from the list of agencies or create a new agency to proceed.</small>
  <select id="default">
    <%= @agencies.each  do |agency|  %>
  	<option><%=" #{agency.name} (#{agency.id})" %></option>
  <% end %>
  </select>

  <button data-remote="true" id="create_agency">Create Agency</button>
  <hr>
<h2>Invite an agency admin</h2>

<%= hidden_field_tag 'role', 'agencyadmin'  %>
<%= hidden_field_tag 'agency_name', "agencyname" %>
<%= f.hidden_field :company %>
<%= f.hidden_field :agency_id %>
<br>
<%= f.label :'First Name' %>
<%= f.text_field :first_name, class: 'form-control' %>

<%= f.label :'Last Name' %>
<%= f.text_field :last_name, class: 'form-control' %>

<%= f.label :Email %>
<%= f.email_field :email, class: 'form-control' %>

<%= f.label :'Job Title' %>
<%= f.text_field :job_title, class: 'form-control' %>

<%= f.label :Phone %>
<%= f.text_field :phone, class: 'form-control' %>

<% end -%>

  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>
