<div class="container-fluid h-100 main loginwrapper">
  <%= render 'layouts/header' %>
  </div>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= render 'devise/invitations/new_pop_up' %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>



<div class="container-fluid h-100 main loginwrapper">
    <div class="row align-items-center h100">
        <div class="col-sm-12 mx-auto user-table">
            <div class="user-table">
              <button style="margin-bottom: 45px;" type="button" class="signin_button" data-toggle="modal" data-target="#exampleModal"><%= fa_icon "users", text: "Send An Invite" %></button><br/>
              <%= render 'devise/invitations/user_list' %>
          </div>
      </div>
    </div>
</div>
  <%= render 'layouts/footer' %>
