<div class="container-fluid h-100vh main loginwrapper">
   <%= render 'layouts/header' %>
    <div class="row align-items-center h100vh">
        <div class="col-sm-4 mx-auto login">
            <div class="login_box">
<% if user_signed_in? %>
     <% if current_user.role == "superadmin" %>
        <%= render 'devise/invitations/superadminform' %>
     <!-- End of superadmin section -->

     <% elsif current_user.role == "agencyadmin" %>
        <%= render 'devise/invitations/agencyadminform' %>
     <!-- End of clientadmin section -->

     <% elsif current_user.role == "clientadmin" %>
        <%= render 'devise/invitations/clientadminform' %>
     <!-- End of clientadmin section -->

     <% else %>
        <h3>Please login to invite new users.</h3>
     <% end %>
<% end %><!-- End of loggedin user -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid h-100 main loginwrapper">
    <div class="row align-items-center h100">
        <div class="col-sm-12 mx-auto user-table">
            <div class="user-table">
              <% if user_signed_in? %>

                <% if current_user.role == "superadmin" %>
                  <%= render 'devise/invitations/user_list_all' %>

                  <% elsif current_user.role == "agencyadmin" %>
                     <%= render 'devise/invitations/my_users_list' %>
                  <!-- End of clientadmin section -->

                  <% elsif current_user.role == "clientadmin" %>
                     <%= render 'devise/invitations/my_users_list' %>
                  <!-- End of clientadmin section -->

                  <% else %>
                    <h3>You must be signed in to view the users list</h3>
                  <% end %>
              <% end %>
          </div>
      </div>
    </div>
</div>
  <%= render 'layouts/footer' %>
