  <div class="row">
    <div class="col-sm-4 logo"><%= image_tag("codefi_logo.svg", height: 'auto', width: '100') %></div>
    <div class="col-sm-6"></div>
    <div class="col-sm-2 loginlink float-left pull-left">  <%= link_to('Pricing', '/pricing', class: 'navitem')  %>  <% if user_signed_in? %>
    <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: 'signin_button')  %>  <span class="dropdown"><img id="avatar" src="/assets/avatar.png" width="34px"/> <%= fa_icon "chevron-down" %><div class="dropdown-content">
         <a href="/users/edit">My Profile</a>
      <% if current_user.role == "agencyadmin" %>
         <a href="#">Company Profile</a>
      <% elsif current_user.role == "clientadmin" %>
         <a href="#">Company Profile</a>
        <% end %>

      <% if current_user.role == "superadmin" %>
          <a href="/users/invitation/new">Manage Agencies</a>

        <% elsif current_user.role == "agencyadmin" %>
             <a href="/users/invitation/new">Manage Clients</a>
        <!-- End of clientadmin section -->

        <% elsif current_user.role == "clientadmin" %>
            <a href="/users/invitation/new">Manage Users</a>
        <!-- End of clientadmin section -->

        <% else %>

        <% end %>
    </div></span>
    <% else %>
    <%= link_to('Sign In', new_user_session_path, class: 'signin_button')  %>
    <% end %>
  </div>
</div>
